.func_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
}

.label{
  font-weight: 700;
  color: dimgray;
  margin-right: 5px;
}

.searchBox {
  display: flex;
  align-items: center;
}

.out_func{
  display: flex;
  margin-right: 20px;
}

.outBtn{
  margin-left: 5px;
}


.height {
  :global {
    .ant-table-tbody>tr>td {
      padding: 12px;
    }

    .ant-table-thead>tr>th {
      padding: 10px;
    }
  }
}

.text{
  color: dimgray;
  margin-bottom: 10px;
}

.mask_box{
  position: relative;
}