.func_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
}

.label{
  font-weight: 700;
  color: dimgray;
  margin-right: 5px;
}

.searchBox {
  display: flex;
  align-items: center;
}

.out_func{
  display: flex;
  margin-right: 20px;
}

.outBtn{
  margin-left: 5px;
}