:root {
  --box-shadow: 0 0 8px 0 rgba(58, 58, 58, 0.2);

  /* tab*/
  --tabBorder-color: #d3d4d6;
  --tabBar-textColor:  #909399;

  --tabClick-backColor: #909399;
  --tabClickBorder-color: #909399;

  /* box */
  --box-fontWeight: 700;
  --box-Color: gray;

  --warn-color: red;
}