.func_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label{
  font-weight: 700;
  color: dimgray;
  margin-right: 5px;
}

.searchBox {
  display: flex;
  align-items: center;
  margin: 3px 10px;
}


.file_func {
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin-right: 20px;
}

.height {
  :global {
    .ant-table-tbody>tr>td {
      padding: 14px 14px;
      text-align: center;
    }

    .ant-table-thead>tr>th {
      padding: 10px;
      text-align: center;
    }
  }
}

.modalText{
  color: dimgray;
  margin-top: 5px;
  margin-bottom: 10px;
}

.uploadline{
  display: flex;
  align-items: center;
}

.fileName{
  color: dimgray;
  margin-left: 6px;
}